<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>空席管理システム</title>
    <script>
        <!-- 2秒ごとにリロードして、空席情報を更新 -->
        setTimeout("location.reload()", 2000);
    </script>
</head>
<body>
    <h1>空席状況</h1>
    <table>
        <tr>
            <th>椅子番号</th>
            <th>状態</th>
        </tr>
        {% for chair in chairs %}
            <tr>
                <td>{{ chair["charNo"] }}</td>
                <td>
                    {% if chair["is_used"] == 0 %}
                        ○<br>
                        <span class="status">空席あり</span>
                    {% else %}
                        ×<br>
                        <span class="status">使用中</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>